<div>
  <link href="./blog-post-card21.css" rel="stylesheet" />
  <div class="blog-post-card21-blog-post-card">
    <img
      src="https://images.unsplash.com/photo-1630527488944-e9e00dc8b000?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxVS1JBSU5FJTIwRkxBR3xlbnwwfHx8fDE2NjQwNTk3MTM&amp;ixlib=rb-1.2.1&amp;w=1500"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card21-image"
    />
    <div class="blog-post-card21-container">
      <div class="blog-post-card21-container1">
        <span class="blog-post-card21-text"><span>Дійсна до:</span></span>
        <span class="blog-post-card21-text1"><span>20.05.2022</span></span>
      </div>
      <h1 class="blog-post-card21-text2">
        <span>Lorem ipsum dolor sit amet</span>
      </h1>
      <span class="blog-post-card21-text3">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
          ...
        </span>
      </span>
    </div>
  </div>
</div>
