<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1554491476-74848d08ce15?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQzfHxuYWlsc3xlbnwwfHx8fDE2NjM2ODkyMjM&ixlib=rb-1.2.1&w=300"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>Якість</span></span>
      <span class="place-card-text1">
        <span>
          Мої принципи якості полягають у виборі матеріалів, стерилізації,
          підходу до клієнта та поглибленні сфери знань
        </span>
      </span>
    </div>
  </div>
</div>
