.stat-stat {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.stat-text {
  color: #FF7C4C;
  font-size: 3rem;
  font-family: Montserrat;
}
.stat-text3 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Montserrat;
}
.stat-text4 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Montserrat;
}
@media(max-width: 991px) {
  .stat-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .stat-text3 {
    text-align: center;
  }
}
